<div class="container">
    <footer>
            <small>
                <p>Derechos reservados &copy; </p>
            </small>
            <ul>
                <li> <%= link_to "Sobre nosotros", about_path %></li>
            </ul>
    </footer>
</div>


